.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* ----- Grid 1:3 zdjecie tekst ----- */

.grid-text-photo {
  background-color: var(--color-base-light);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  align-items: center;
  padding-bottom: 5rem;
}

.grid-photo-text {
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  align-items: center;
  padding: 6.6rem 0;
}

.grid-text-photo-1st-cell {
  padding: 0 clamp(3.6rem, 7vw, 9.6rem);
  grid-column: 1 / span 2;
}

.grid-text-photo-2nd-cell {
  padding-right: clamp(4.2rem, 7.5vw, 9.6rem);
  grid-column: 3;
  justify-items: center;
}

.grid-photo-text-1st-cell {
  padding: 0 clamp(2.8rem, 6.5vw, 6.6rem);
  grid-row: 1;
  grid-column: 2 / span 2;
}

.grid-photo-text-2nd-cell {
  justify-items: center;
  padding-left: clamp(2.8rem, 6.5vw, 6.6rem);

  grid-column: 1 / span 1;
}

/* RESPONSIVE */

/* Ponizej 1200px (Szerokok. tablety) */
@media (max-width: 75em) {
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
}

/* Ponizej 944px (Tablety) */
@media (max-width: 59em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-text-photo-1st-cell {
    padding: 3.2rem;
    grid-column: auto;
  }

  .grid-text-photo-2nd-cell {
    padding: 3.2rem;
    grid-column: auto;
  }

  .grid-photo-text-1st-cell {
    padding: 3.2rem;
    grid-column: auto;
  }

  .grid-photo-text-2nd-cell {
    padding: clamp(2.4rem, 3.5vw, 4.2rem) clamp(3.6rem, 7vw, 9.6rem);
    grid-column: auto;
    grid-row: auto;
  }

  .grid-text-photo {
    grid-template-columns: 1fr;
  }

  .grid-photo-text {
    grid-template-columns: 1fr;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }
}

/* Poniżej 704px (Male tablety) */
@media (max-width: 44em) {
  .grid--footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .cta {
    grid-template-columns: 1fr;
  }
}

/* Ponizej 544px (telefon) */
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }
  /*
  .cta {
    grid-template-columns: 1fr;
  }
    */
}
