*:focus {
  outline: none;
  /*box-shadow: 0 0 0 0.6rem var(--color-accent3);*/
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  /* <weight>: Use a value from 100 to 900*/
  /* <uniquifier>: Use a unique and descriptive class name*/
  font-family: var(--font-main);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--color-base-dark);
  background: var(--color-background);
  overflow-x: hidden;
}
